html, body {
    font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
/* consoles */

#epalclient.console_page {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
}
#epalclient.console_page .console_bg {
    background: #c0c0c0;
    background-image: url(epal_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 600px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#epalclient.console_page .console_wrapper {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color:#fff;
}

#epalclient.console_page .console_logo {
    display: block;
    width: 380px;
    margin: 150px auto 0 auto;
    position: relative;
}

#epalclient.console_page a {
    color: #fff;
}

#epalclient.console_page .console_wrapper h3 {
    color: #fff;
    padding-bottom: 10px;
    margin: 20px 0;
    font-size: 1.4rem !important;
    font-weight: 300 !important;
}

#epalclient.console_page .console_panel {
    min-height: 120px;
    padding: 30px;
    overflow: auto;
    border-left-width: 0;
    border-right-width: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: block;
    position: relative;
    width: 425px;
    margin: 50px auto 40px;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.06);
}

#epalclient.console_page .console_panel table {
    color: #7f8fa3;
}
#epalclient.console_page .console_panel table td {
    vertical-align: middle;
}
#epalclient.console_page .console_panel table td h2 {
    color: #333b47;
    margin: .5rem 0;
    font-size:1.4rem;
}
#epalclient.console_page .text-alt {
    margin: 25px 0;
    font-size: 0.85rem;
}

/* Global props */
#epalclient.console_page input {
    width: 100%;
    height: 34px;
    resize: none;
    border: 1px solid #eceff4;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #fff;
    padding: 0 14px;
    margin: 5px 0 10px;
}

#epalclient.console_page .btn {
    height: 34px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    background-clip: padding-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 34px;
    padding: 0 20px;
    transition: background .2s;
    border: 0;
}

a {
    color: #00aaff;
}
a:hover, a:focus {
    color: #0891d6;
}

#epalclient label {
    display: block;
    text-align: left;
    color: #7f8fa3;
    transition: height .5s;
    font-size: 0.875rem;
    font-weight: 600;
    overflow: hidden;
}


#epalclient .btn-primary {
    background: #2672EC;
    border: 1px solid #FFFFFF !important;
    color: #FFFFFF;
    width: auto;
    cursor: pointer;
    margin-right: 4px;
    display: inline-block;
}
#epalclient .btn-primary:hover {
    background: #D4E3FB;
    border:1px solid #FFF !important;
}
/** Admin Messages */
#epalclient .admin-message.alert-success { background-color: #1BB934; }
#epalclient .admin-message.alert-danger { background-color: #F05352; }
#epalclient .admin-message.alert-warning { background-color: #FF9300; }
#epalclient .admin-message.alert-info { background-color: #2E87C1; }
#epalclient .admin-message {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 27px;
    z-index: 120;
    border: 0;
    border-radius: 0;
    padding-top: 25px;
    margin: 0 !important;
}

/* Forms */
#epalclient .form-control {
    text-align: left;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    width: 100%;
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    -ms-transition: border-color .3s ease;
    transition: border-color .3s ease;
    -webkit-border-radius: 4.8px;
    -moz-border-radius: 4.8px;
    border-radius: 4.8px;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    border-radius: .3rem;
    border: 1px solid #d5d5d5;
    font-size: 1rem;
    padding: .6rem 1rem .6rem 1rem;
    line-height: 1.2rem;
    background-color: #fff;
    color: #535353;
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}
#epalclient .form-control:hover {
    outline: 0;
    border-color: #b3b3b3;
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}
#epalclient .form-control:focus {
    outline: 0;
    border-color: #009df5;
    border-width: 2px;
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}
